{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market - Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
          integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'shop/css/product_page.css' %}">
    <link rel="stylesheet" href="{% static 'carts/css/cart.css' %}">
</head>
<body>
    {% include 'shop/partials/navigation.html' %}
    <main class="site-main">
        <h1 class="name">Привіт, {{ profile_user.username }}!</h1>
        <div class="profile-info">
            <p><strong>Username:</strong> {{ profile_user.username }}</p>
            <p><strong>Email:</strong> {{ profile_user.email }}</p>
        </div>
        {% if cart_items %}
        <h1>Ваш кошик</h1>
        <table class="cart-table">
            <thead class="cart_table_head">
                <tr>
                    <th>Назва товару</th>
                    <th>Кількість</th>
                    <th>Ціна за одиницю</th>
                    <th>Сума</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody class="cart_table_body">
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>
                        <form method="post" action="{% url 'carts:cart_change' item.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}" style="width: 60px;">
                            <button type="submit" class="table_button">Оновити</button>
                        </form>
                    </td>
                    <td>{{ item.product.price }} грн</td>
                    <td>{{ item.get_total_price }} грн</td>
                    <td>
                        <form method="post" action="{% url 'carts:cart_remove' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="table_button">Видалити</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><strong>Загальна кількість товарів:</strong> {{ cart_items.total_quantity }}</p>
        <p><strong>Загальна сума:</strong> {{ cart_items.total_price }} грн</p>

        <a class="order" href="{% url 'orders:create_order' %}">Перейти до оформлення замовлення</a>
    {% else %}
        <h1>Ваша корзина порожня.</h1>
    {% endif %}
    </main>
    {% include 'shop/partials/footer.html' %}
</body>
</html>
